extends layout
block head-layout
    link(rel="stylesheet", href="/static/css/expense-report.css")
    link(rel="stylesheet", href="/static/css/modal.css")
    script(src="/static/javascripts/expense-report.js")
block body-layout
    if exists
        include ../klee-consumption/category-list-info-modal.pug
        include ../klee-consumption/type-list-info-modal.pug
        #container-report
            #header
                .header-class
                    h1 Expense Report
            #username
                .username-class
                    h2 User: {{user.username}}
            #report-number
                .report-number-class
                    |Report Number
                    br
                    |RP0{{ rpRandomNumber }} 
        table(id="expenseReport")
            tr
                th.left-th
                    | Date (YYYY-MM-DD)
                th.left-th
                    | Desc.
                th.left-th
                    | Type
                th.left-th
                    | Cat.
                th.left-th
                    | Paid
                th.right-th
                    | Amount
            for expense in expenses
                tr
                    td=expense.date
                    td=expense.description
                    td=expense.consumption_opts
                    td=expense.category.category_name
                    if expense.paid
                        td 
                            | Yes
                    else
                        td 
                            | No
                    td(align="right")=expense.value
                - empty
                    tr
                        td(colspan="7", align="center") No data
            tr.table-final-info
                td(colspan="5", align="right")
                    | Total expense amount
                td(align="right")=totalExpenseAmount
            tr.table-final-info
                td(colspan="5", align="right")
                    | Startup expenses
                td(align="right")=lancamentosFuturos
        button(onclick="window.print()").btn Print
        button(onclick="document.getElementById('modalTypeListConsumption').style.display = 'block';").btn Type list
        button(onclick="document.getElementById('modalCatListConsumption').style.display = 'block';").btn Category list
    else
        div.no-data
            | There is not enough data to supply an expense report
            img(src="/static/images/cloud-computing.svg")
            

