extends layout
block head-layout
    link(rel="stylesheet", href="/static/css/expense-report.css")
    script(src="/static/javascripts/expense-report.js")
block body-layout
    if exists
        #container-report
            #header
                .header-class
                    h1 Expense Report
            #username
                .username-class
                    h2 User: {{user.username}}
            #report-number
                .report-number-class
                    |Report Number
                    br
                    |RP0{{ rpRandomNumber }}
        table(id="expenseReport")
            tr
                th.left-th
                    | Date (YYYY-MM-DD)
                th.left-th
                    | Desc.
                th.left-th
                    | Type
                th.left-th
                    | Cat.
                th.left-th
                    | Paid
                th.right-th
                    | Amount
            for expense in expenses
                tr
                    td=expense.date
                    td=expense.description
                    td=expense.consumption_opts
                    td=expense.category_opts
                    if expense.paid
                        td 
                            | Yes
                    else
                        td 
                            | No
                    td(align="right")=expense.value
                - empty
                    tr
                        td(colspan="7", align="center") No data
            tr.table-final-info
                td(colspan="5", align="right")
                    | Total expense amount
                td(align="right")=totalExpenseAmount

        div.lists
            .list-header Type list
            ul
                li W - WEEKLY
                li M - MONTHLY
        div.lists
            .list-header Category list
            ul 
                li OT - OTHERS
                li NC - NO CATEGORY
                li HM - HOME
                li ED - EDUCATION
                li RT - RECREATION
                li FD - FOOD
                li TP - TRANSPORT
                li PE - PERSONAL EXPENSES
                li CM - COMMUNICATION
                li RT - RATES AND TAXES
                li HT - HEALTH
    else
        div.no-data
            | There is not enough data to supply an expense report
            img(src="/static/images/cloud-computing.svg")
            

